{% extends 'base.html' %}
{% block content %}
<div class="form-box">
    <h2>Add Scholarship</h2>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name" required>
        <label>Caste:</label>
        <input type="text" name="caste" required>
        <label>Class:</label>
        <input type="text" name="class" required>
        <label>Deadline:</label>
        <input type="date" name="deadline" required>
        <label>Description:</label>
        <textarea name="description" required></textarea>
        <input type="submit" value="Add Scholarship" class="btn">
    </form>
</div>
{% endblock %}
